.footer {
  &__items {
    .socials {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
    .text {
      font-size: 12px;
      text-align: center;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}