@import './assets/scss/0_reset';
@import './assets/scss/1_variables';
@import './assets/scss/header';
@import './assets/scss/banner';
@import './assets/scss/content';

.benefits {
  @extend .container;
  &__items {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    .item {
      img {
        max-width: 100%
      }
    }
  }
  &__text {
    text-align: center;
    padding: 48px 0
  }
}


.cronometer {
  @extend .container;
}

.videos {
  @extend .container;
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    .iframe {
      iframe {
        min-width: 100%;
      }
    }
    .carousel {
      max-width: 800px;
      img {
        width: 100%
      }
    }
  }
}
@import './assets/scss/footer';